@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
:root {
    --btn-text-clr: #fff;
    --clr-bg: #fff;
    --gray-100: #F3F6FF;
    --gray-300: #E2E5F1;
    --gray-500: #B4B7C9;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;
    --clr-primary: #6366F1;
    --clr-success: #22C55E;

    /* --nav-logo: url("images/logo.svg");
    --appstore-img: url("images/appstore-light.svg.svg");
    --googleplay-img: url("images/googleplay-light.svg fill.svg"); */

    --discover-btn: #fff;
    --input-clr: #fff;

    --start-clr: #6365f11e;
    --end-clr: #db46ef17;
}

html {
    color-scheme: dark;
}

.dark {
     color-scheme: dark;
     --clr-bg: #0B0F19;
     --gray-900: #F3F6FF;
     --gray-800: #E2E5F1;
     --gray-700: #B4B7C9;
     --gray-500: #565973;
     --gray-300: #33354D;
     --gray-100: #151822;

     --nav-logo: url("images/logo_dark.svg");
     --appstore-img: url("images/appstore-dark.svg.svg");
     --googleplay-img: url("images/googleplay-dark.svg.svg");
     --discover-arrow: url("images/white_arrow_bigger.svg");
     --next-arrow: url("images/white_arrow_smaller_next.svg");

     --discover-btn: #151822;
     --input-clr: #151822;
 }

body {
    font-family: "Manrope", system-ui;
    background-color: var(--clr-bg);
}

/* Light / dark mode switches */
.nav-logo {
    content: var(--nav-logo);
}

.appstore-img {
    content: var(--appstore-img);
}

.googleplay-img {
    content: var(--googleplay-img);
}

.discover-arrow-img {
    content: var(--discover-arrow);
}

.next-arrow-img {
    content: var(--next-arrow);
}

/* UTILITY CLASSES */
.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.container {
    width: 100%;
    padding-inline: 3%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pt-4 {
    padding-top: 4rem;
}

.display-text {
    color: var(--gray-900);
    font-weight: 800;
}

.leadText {
    font-size: 1.1rem;
    color: var(--gray-700);
    font-weight: 400;
}

.xl-text {
    font-size: 1rem;
    font-weight: 400;
}

.bodytext-s {
    font-size: .9rem;
    line-height: 1.6;
    color: var(--gray-700);
    font-weight: 400;
}

/* Få alla bilder på egen rad */
img {
    display: block;
    width: 100%;
}

/* NAVBAR */
nav {
    padding-block: .7rem;
    color: var(--gray-900);
}

.nav-container {
    margin: 0 auto; 
    justify-content: space-between; 
}

.main-nav .left-nav, .main-nav .right-nav {
    gap: 1rem;
}

.features-link, .btn-login, .darkmode-text {
    display: none;
}

.features-link {
    color: var(--gray-800);
}

.darkmode-text {
    color: var(--gray-700);
    font-weight: 700;
}

.btn-menu {
    background-color: transparent;
    border: 0;
    padding: .5rem;
}

.btn-login {
    color: var(--btn-text-clr);
}

.darkmode-toggle {
    gap: 1rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.9rem;
    height: 1.5rem;

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--gray-600);
        -webkit-transition: .4s;
        transition: .4s;
        /* box-shadow: 0px 8px 18px 8px #dcdcff; */
    }

    .slider:before {
        position: absolute;
        content: "";
        aspect-ratio: 1;
        height: calc(100% - 4px);
        left: 2px;
        bottom: 2px;
        background-color: var(--btn-text-clr);
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: var(--clr-primary);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    /* Cirkeln /slider::before rör sig */
    input:checked + .slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* MAIN */
/* Showcase section */
.showcase-background {
    display: flex;
    background-image: radial-gradient(
        farthest-side at 50% 100%, 
        var(--start-clr),
        var(--end-clr), 
        var(--clr-bg));
        flex-direction: column;
        position: relative;
        justify-content: center;
    }

.displayOne {
    font-size: 2.2rem;
}

.showcase-text br {
    display: none;
}

.showcase header {
    justify-content: center;
}

.right-showcase {
    display: none;
    /* width: 60svh; */

    img {
        width: 90%;
    }
}

.download-buttons {
    display: block;
    align-items: center;
    margin-bottom: 1.5rem;
}

.btn-download {
    background-color: var(--gray-900);
    width: 100%;
    height: 3.1rem;
    border: 0;
    border-radius: .5rem;
    justify-content: center;
}

.btn-download img {
    max-width: 8rem;
}

.discoverMore {
    justify-content: center;
    gap: 1rem;
    font-size: .9rem;
    margin-bottom: 2rem;
}

.discoverMore img {
    scale: 45%;
    height: 20px;
}

.btn-discover {
    width: 3rem;
    height: 3rem;
    background-color: var(--discover-btn);
    border-radius: 50%;
    border: 0px;
}

/* Brands section */
.brands {
    display: none;
}

.brand-img {
    border: var(--gray-300) solid 1px;
    border-radius: .5rem;
    padding-block: 1.8rem;
    padding-inline: .3rem;
}

.brand-no5, .brand-no6 {
    display: none;
}

/* Features section */
.app-features, .app-features-background {
    justify-content: space-between;
    gap: 11rem;
}

.app-features-phone {
    flex: 1;
    display: none;
    
}

.app-features-list {
    flex: 2;
}

.app-features h2, .app-features .leadText {
    text-align: center;
}

.displayTwo {
    font-size: 1.6rem;
}

.displayThree {
    font-size: 1.3rem;
}

.features-cards {
    display: block;
}

.left-cards {
    grid-column-start: 1;
}

.right-cards {
    grid-column-start: 2;
}

.card-icon {
    width: 7svh;
    background-color: var(--gray-100);
    padding: 1rem;
    border-radius: .5rem;
}

.card {
    gap: 1.5rem;
    align-items: flex-start;
}

/* How Does It Work? section */
.howdoesitwork-background {
    background-color: var(--gray-100);
    justify-content: space-evenly;
    flex-direction: column;
}

.ui-showcase1, .ui-showcase3 {
    .phone-img1, .phone-img3 {
        display: none;
    }
}

.three-phones-container {
    flex-direction: row;
    justify-content: center;
}

.phone-container {
    position: relative;
    justify-content: center;
}

.phone-img2 {
    position: absolute;
    width: 90%;
    justify-content: center;
}

.showcase-container {
    width: 90%;
}
/* Learn more section */
.learnmore-background{
    display: none;
    
    button {
        background-color: var(--clr-primary);
        color: var(--btn-text-clr);
        font-family: "Manrope", system-ui;
        padding-block: .9em;
        padding-inline: 2.4em;
        border: 0px;
        border-radius: .4rem;
    }

    ul {
        padding-left: .8rem;
        list-style-image: url('images/bx-check-circle.png');
    }
}

.learnmore-top, .learnmore-bottom {
    gap: 1rem;
}

ul li {
    margin: 1rem;
}

.learnmore-texts-top, .learnmore-img-top, .learnmore-texts-bottom, .learnmore-img-bottom{
    flex: 1;
}
.payment-cards {
    gap: 2rem;
}

/* testimonials-background section */
.testimonials-background {
    display: none;
    background-color: var(--gray-100);

    img {
        width: 20%;
        padding: 0 0 1.5rem 1.5rem;
    }
}

.testimonials {
    gap: 8rem;
}

.testimonial-cards {
    gap: 1.5rem;
}

.testimonial-one {
    background-color: var(--clr-bg);
    max-width: 500px;
}

.testimonial-two {
    background-color: var(--clr-bg);
    max-width: 450px;
}

.testimony-text {
    padding: 0 0 1.5rem 1.5rem;
}

.testimony-name {
    flex-direction: column;
    padding: 0;
    font-weight: 700;
}

/* FAQ section*/
.faq-background {
    display: block;
}

.get-in-touch {
    margin-inline: .5rem;
    color: var(--gray-700);
}

.faq-cards {
    border: var(--gray-300) solid 1px;
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}

.faq-card {
    display: block;
    flex-direction: column;
    border-top: var(--gray-300) solid 1px;
}

.faq-header, .faq-header1 {
    font-size: 1rem;
    font-weight: 600;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    justify-content: space-between;
}

.first-faqcard {
    border-radius: 0;
    box-shadow: 0;
}

.faq-text1, .faq-text2 {
    border-top: var(--gray-300) solid 1px;
    font-size: .8rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.faq-btn1, .faq-btn2, .next-btn, .next-btn1, .next-btn2 {
    background-color: var(--discover-btn);
    width: 2.8em;
    height: 2.8em;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0;
}

.faq-btn1, .faq-btn2 {
    background-color: var(--clr-primary);
}

.faq-btn1, .faq-text1 {
    display: block;
}

.faq-btn2, .faq-text2  {
    display: none;
}

.next-btn1 {
    display: none;
}

.next-btn2 {
    display: block;
}

.next-btn, .next-btn1, .next-btn2 {
    background-color: var(--gray-100);
}

.faq-btn1 img, .faq-btn2 img, .next-btn img, .next-btn1 img, .next-btn2 img {
    scale: 30%;
}

.contact {
    display: block;
}

.contact-btn {
    background-color: var(--clr-primary);
    color: var(--btn-text-clr);
    font-family: "Manrope", system-ui;
    padding-block: 1.3em;
    padding-inline: 2.5em;
    border: 0px;
    border-radius: .4rem;
    margin: 0 auto;
}

.further-questions {
    display: none;
    justify-content: space-between;
    gap: 1rem; 
}

.further-questions-call, .further-questions-chat {
    border: var(--gray-300) solid 1px;
    border-radius: .5rem;
    width: 100%;
    padding: 1.5rem 2rem 2rem 1.5rem;
    flex-direction: column;
    gap: 1rem;
}

.further-questions img {
    width: 10%;
}

.further-questions button {
    background-color: var(--clr-bg);
    font-family: "Manrope", system-ui;
    font-weight: 600;
    border: 0px;    
    text-align: left;
}

.further-questions-call button {
    color: var(--clr-primary);
}

.further-questions-chat button {
    color: var(--clr-success);
}

/* FOOTER */
footer {
    flex-direction: column;
    br {
        display: block;
    }

    button {
        background-color: var(--clr-primary);
        color: var(--btn-text-clr);
        border-radius: 0 .5rem .5rem 0;
        border: 0px;
        font-size: 1rem;
        font-weight: 400;
    }
}

.subscribe {
    background-color: var(--gray-100);
    border-radius: .5rem;
    width: 1296px;
    flex-direction: column;
    padding-inline: 1rem;
    padding-block: 2.5rem;
    justify-content: center;
}

.newsletter {
    gap: 1rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.newsletter img {
    width: 25%; 
}

.form-container {
    justify-content: center
}

.email-input, .footer-btn {
    height: 3.1rem;
    border: 0;
    font-family: "Manrope", system-ui;
    padding-inline: 1.2rem;
}

.img-container {
    color: var(--gray-600);
    position: absolute;
    padding-left: 1rem;
    z-index: 1;
}

.email-input {
    background-color: var(--input-clr);
    border-radius: .5rem 0 0 .5rem;
    border: var(--gray-300) solid 1px;
    font-family: "Manrope", system-ui;
    position: relative;
}

input::placeholder {
    padding-left: 2rem;
    color: var(--gray-500);
    font-weight: 400;
}

.bodytext-xs{
    font-size: .8rem;
    line-height: 1.6;
    color: var(--gray-600);
    font-weight: 300;
}

/* Tablet devices */
@media (width >= 768px) {
    .container {
        padding-inline: 4%;
    }
    /* Tablet - NAVBAR */
    .nav-container {
        max-width: 768px;
        padding-top: 1%;
    }
    
    .main-nav .left-nav {
        gap: 3rem;
        }

    .main-nav .right-nav {
        gap: 2rem;
    }
    
    .darkmode-text {
        display: block;
    }

    /* Tablet - MAIN */
    .displayOne {
        font-size: 2.8rem;
        margin-inline: 9rem;
    }

    .displayTwo {
        margin-inline: 11rem;
    }

    .leadText {
        font-size: 1.12rem;
    }

    p.bodytext-s {
        font-size: 1rem;
    }

    .howDoesItWork .bodytext-s {
        margin-inline: 8rem;
    }

    .showcase {
        padding-top: 4rem;
        display: grid;
        grid-template-columns: 1.3fr 2fr;
        grid-template-rows: .2fr .9fr auto auto;
    }

    .showcase header {
        grid-column: 1 / span 2;
        grid-row: 1;
        text-align: center;
    }

    .text-download-wrapper {
        grid-column: 1;
        grid-row: 3;
    }

    /* .btn-download {
        width: 90%;
    }  */

    .right-showcase {
        display: grid;
        grid-column: 2;
        grid-row: 2 / span 4;
        justify-content: flex-end
/* 
        img {
            justify-self: right;
        } */
    }

    /* .showcase-grid {
        display: flex;
        flex-direction: column;
    } */ 

    .mobile-showcase {
        justify-content: space-between;
        align-items: flex-end;
    }

    .showcase-text {
        text-align: left;
        line-height: 1.6;
        margin-bottom: 3rem;
    }

    .showcase br {
        display: block;
    }

    .right-showcase {
        display: flex;
    }

    .download-buttons {
        display: flex;
        gap: 1rem;
        align-items: stretch;
        width: 100%;
    }

    .btn-download {
        height: 3.3rem;

        img {
            width: 70%;
        }
    }

    .discoverMore-wrapper {
        align-self: flex-end;
        grid-row: 4;
    }

    .discoverMore {
        justify-content: left;
        margin-bottom: 3rem;
    }

    /* Tablet - Brands section */
    .brands {
        display: flex;
        gap: 1rem;
    }

    .brands-background {
        justify-content: center;
        width: 100%;
    }

        /* Tablet - Features section */
    .displayTwo {
        font-size: 2.2rem;
    }

    .features-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-bottom: 3rem;
    }
    
    .left-cards {
        grid-column-start: 1;
    }
    
    .right-cards {
        grid-column-start: 2;
    }

    .card-icon {
        width: 6svh;
    }

        /* Tablet - How Does It Work? section */
    .ui-showcase1, .ui-showcase3 {
        .phone-img1, .phone-img3 {
            display: flex;
        }
    }

    .phone-img2 {
        width: 75%;
    }
    
    .showcase-container {
        width: 75%;
    }

    .howdoesitwork-background {
        justify-content: center;
    }

    

    /*  Tablet FAQ section */
    .get-in-touch {
        margin-inline: 9.5rem;
    }

    .first-faqcard {
        border-radius: .5rem;
        box-shadow: 5px 5px 5px 5px var(--gray-300);
    }

    .faq-cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border: 0;
    }

    .faq-card {
        display: block;
        flex-direction: column;
        border-top: 0;
        border-radius: .5rem;
        box-shadow: 5px 5px 5px 5px var(--gray-300);
    }
    
    .faq-text1, .faq-text2 {
        display: none;
        border-top: 0;
    }

    .bodytext-s {
        font-size: .88rem;
    }

    .faq-btn1, .faq-text1 {
        display: none;
    }

    .faq-btn2, .faq-text2 {
        display: block;
    }
  
    .next-btn1 {
        display: block;
    }

    .next-btn2 {
        display: none;
    }

    .contact {
        display: none;
    }

    .further-questions {
        display: flex;
    }

    /* Tablet - FOOTER*/
    .subscribe {
        padding-block: 4rem;
        flex-direction: row;
        padding-inline: 1.6rem;
    }

    .newsletter {
        gap: 2rem;
        padding-bottom: 0;
    }

    .email-input, .footer-btn {
        height: 3.4rem;
    }

    footer br {
        display: none;
    }  
}

/* Desktop - NAVBAR */
.bodytext-s {
    font-size: 1rem;
}

@media (width >= 1610px) {
    .nav-container{
        max-width: 1320px;
    }
    .btn-menu {
        display: none;
    }

    .features-link, .btn-login, .darkmode-text {
        display: flex;
        text-decoration: none;
        font-weight: 600;
    }

    .btn-login {
        cursor: pointer;
        gap: .8rem;
        background-color: var(--clr-primary);
        padding-block: .4rem;
        border-radius: .4rem;
        font-size: .875rem;
        padding: .6rem 1.6rem
    }

    .btn-login img {
       width: 15px;
    }

    /* Desktop - MAIN */
    .showcase-background, .brands-background, .app-features-background, 
    .howdoesitwork-wrap, .learnmore-background, .testimonials-background,
    .faq-background, .subscribe-background {
        width: 100vw;
        height: 100%;
        align-items: center;
        justify-content: center;
    } 

    .showcase, .brands, .app-features, .howDoesItWork, .learnmore, 
    .testimonials, .faq {
        width: 1296px;
        margin: 0 auto;
    }

    .showcase {
        padding-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr .1fr .5fr;
    }

    .showcase header {
        grid-column: 1;
        grid-row: 1;
        justify-content: left;
        text-align: left;
    }

    .text-download-wrapper {
        grid-column: 1;
        grid-row: 2;
    }

    .btn-download {
        width: 40%;
    }

    .right-showcase {
        grid-column: 2;
        grid-row: 1 / span 4;
    }

    .displayOne {
        margin: 0;
    }

    /* .mobile-showcase {
        display: grid;
        justify-content: space-between;
        align-items: flex-end;
    } */

    .discoverMore-wrapper {
        grid-column: 1;
        grid-row: 4;
    }

    /* Desktop Brands section */
    .brand-img {
        border: var(--gray-300) solid 1px;
        border-radius: .5rem;
        padding-block: 1.8rem;
        padding-inline: 1rem;
    }
    
    .brand-no5, .brand-no6 {
        display: block;
        padding-inline: 1.5rem;
    }

    /* Desktop Features section */
    .displayTwo {
        margin-inline: 0;
    }
    
    .app-features-phone {
        display: flex;
        align-items: flex-start;
    }
    
    .app-features h2, .app-features p {
        text-align: left;
    }

    .card-icon {
        width: 4.5svh;
    }

    /* Desktop How does it work section */
    .three-phones-container {
        flex-direction: row;
        justify-content: center;
        gap: 6rem;
    }
    
    .phone-container {
        width: 15%;
        justify-content: center;
    }
    
    .phone-img2 {
        width: 100%;
        justify-content: center;
    }

    .showcase-container {
        width: 100%;
    }

    /* Desktop Learn more section */
    .learnmore-background{
        display: block;
    }

    /* Desktop testimonials-background section */
    .testimonials-background {
        display: flex;
    }

    /* Desktop FAQ section */
    .faq {
        display: grid;
        grid-template-columns: 1.3fr 1.9fr;
        gap: 5rem;

        h2 {
            text-align: left;
        }
    }

    .get-in-touch {
        margin-inline: 0;
        text-align: left;
    }

    .faq-left {
        grid-column: 1;
        order: 1;
        grid-row: 1;
    }

    .further-questions {
        grid-column: 1;
        order: 2;
        grid-row: 1;
    }

    .faq-cards {
        grid-column: 2;
        order: 3;
        grid-row: 1;
    }

    /* Desktop FOOTER */
    /* footer {
        max-width: 1296px;
    } */
    .subscribe{
        padding-block: 4rem;
        padding-inline: 7rem;
    }

    .newsletter h3::after {
        content:" to stay informed about latest updates";
    }

    .newsletter img {
        width: 15%; 
    }

    .email-input, .footer-btn {
        padding-inline: 2rem;
    }

    input::placeholder {
        padding-left: .6rem;
    }
}